# Ignore node modules
node_modules/

# Ignore VS Code settings
.vscode/

# Ignore the extension package file
*.vsix

# Ignore TypeScript output if any JS or map files are generated
*.js.map

# Ignore OS-specific or editor-specific files (optional)
.DS_Store
Thumbs.db

.env
